<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
      <Directory Id="TARGETDIR" Name="SourceDir">
        <Directory Id="ProgramFilesFolder"> <!--LocalAppDataFolder ProgramFilesFolder-->
            <Directory Id="APPLICATIONFOLDER" Name="hoReverse"  > <!--APPLICATIONFOLDER-->
          </Directory>
        </Directory>
      </Directory>
	 
    
    
    <!--<Property Id="ApplicationFolderName"  Value="hoReverse"  /> -->

    <Property Id="WixAppFolder" Value="WixPerUserFolder"  />
	  <!--<SetProperty Id="ProgramFilesFolder" Value="[LocalAppDataFolder]" Before="CostFinalize"><![CDATA[NOT Privileged]]></SetProperty>-->
	</Fragment>
  
  
</Wix>