<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <!-- Registry:
  Note: Each time you change the AssemblyVersion of a registered *.dll (AddinClass.dll,ActiveX.dll, FindAndReplace.dll)
    you have to update the registry information in this file!!!!
         
  
  1. Generate with Wix Tool 'heat' the registry entry for all files
     "c:\Program Files (x86)\WiX Toolset v3.10\bin\heat" file hoReverse.dll -ag -template fragment -out hoReverse.wxs
  
  2.   Copy the Component content of *.wxs into the Addin Component of this file
  
  3. Update file parameter with Name and source
     - For files which need to register as COM / ActiveX
     - copy the content of the component in the component entry of this file
     - If AssemblyVersion (Major, Minor) is changed you need to update the registration information
     - ActiveX.dll, AddinClass.dll, FindAndReplace.dll
    // Update the following entries to use WIX variables to find the files in their right location
    Name="AddinClass.dll" Source="$(var.AddinClass.TargetPath)" />
    Name="ActiveX.dll" Source="$(var.ActiveX.TargetPath)" />
    Name="FindAndReplace.dll" Source="$(var.FindAndReplace.TargetPath)" />
  4. A component for every file
  

  
  -->
  
 
  <Fragment>
    <ComponentGroup Id="ProductComponents"
                    Directory="APPLICATIONFOLDER">

      <Component Id="LicenceRTF" Guid="{46FBFC37-700A-4211-976E-6C46CDDB9CAC}">
        <!--<CreateFolder Directory="APPLICATIONFOLDER" /> -->
          <File Id="LicenseFile" Name="license.rtf" Source="license.rtf"  KeyPath="yes" />
      </Component>
      <Component Id="hoReverseGui.dll.config" Guid="{C6DEC4D3-5338-495E-9AF5-974FF40299D9}">
        <File Id="hoReverseGui.dll.config" Name="hoReverseGui.dll.config" Source="..\hoReverseRoot\hoReverseGui.dll.config" KeyPath="yes" />
      </Component>
      <Component Id="hoUtils" Guid="{61791FFB-B487-4C38-BF7B-2081CA4570C7}">
        <File Id="hoUtils" Name="hoUtils.dll" Source="$(var.hoUtil.TargetPath)" KeyPath="yes" />
      </Component>
      <Component Id="hoServices.dll" Guid="{8583A70A-4B5F-4117-9310-5A8882D5BA33}">
        <File Id="hoServices.dll" Name="hoServices.dll" Source="$(var.hoServices.TargetPath)" KeyPath="yes" />
      </Component>
      <Component Id="hoLinqToSql.dll" Guid="{F9B4E660-E56E-45D3-A7B7-E4903216EBCB}">
        <File Id="hoLinqToSql.dll" Name="hoLinqToSql.dll" Source="$(var.hoLinqToSql.TargetPath)" KeyPath="yes" />
      </Component>
      <Component Id="RegisterEA" Guid="{048B4FD1-C227-4418-B188-3EFDD0674CB9}">
        <RegistryKey Root="HKMU" Key="Software\Sparx Systems\EAAddins\hoReverse">
          <RegistryValue Type="string" Value="hoReverse.hoReverseRoot" KeyPath="yes" />
        </RegistryKey>
      </Component>
      <!--
      Name="hoReverseRoot.dll" Source="$(var.hoReverseRoot.TargetPath)" />
      Update if Assembly, Visual Studio Version changed
      -->
      <Component Id="hoReverseRoot.dll" Guid="{BDC229B3-DE8B-433C-82F5-BF1FAFEB6C3D}">
        <Class Id="{2FAE19CA-F5A5-3805-B441-E2C00D8EE429}" Context="InprocServer32" Description="hoReverse.hoReverseRoot" ThreadingModel="both" ForeignServer="mscoree.dll">
          <ProgId Id="hoReverse.hoReverseRoot" Description="hoReverse.hoReverseRoot" />
        </Class>
        <Class Id="{44D39C8A-A94F-391F-9336-C9932A64A009}" Context="InprocServer32" Description="hoReverse.About" ThreadingModel="both" ForeignServer="mscoree.dll">
          <ProgId Id="hoReverse.About" Description="hoReverse.About" />
        </Class>
        <File Id="filD5BB7448D3EEAC917E5CCA73FA456E06" KeyPath="yes" Name="hoReverseRoot.dll" Source="$(var.hoReverseRoot.TargetPath)" />
        <RegistryValue Root="HKCR" Key="CLSID\{2FAE19CA-F5A5-3805-B441-E2C00D8EE429}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{2FAE19CA-F5A5-3805-B441-E2C00D8EE429}\InprocServer32\3.1.1.0" Name="Class" Value="hoReverse.hoReverseRoot" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{2FAE19CA-F5A5-3805-B441-E2C00D8EE429}\InprocServer32\3.1.1.0" Name="Assembly" Value="hoReverseRoot, Version=3.1.1.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{2FAE19CA-F5A5-3805-B441-E2C00D8EE429}\InprocServer32\3.1.1.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{2FAE19CA-F5A5-3805-B441-E2C00D8EE429}\InprocServer32\3.1.1.0" Name="CodeBase" Value="file:///[#filD5BB7448D3EEAC917E5CCA73FA456E06]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{2FAE19CA-F5A5-3805-B441-E2C00D8EE429}\InprocServer32" Name="Class" Value="hoReverse.hoReverseRoot" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{2FAE19CA-F5A5-3805-B441-E2C00D8EE429}\InprocServer32" Name="Assembly" Value="hoReverseRoot, Version=3.1.1.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{2FAE19CA-F5A5-3805-B441-E2C00D8EE429}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{2FAE19CA-F5A5-3805-B441-E2C00D8EE429}\InprocServer32" Name="CodeBase" Value="file:///[#filD5BB7448D3EEAC917E5CCA73FA456E06]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{44D39C8A-A94F-391F-9336-C9932A64A009}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{44D39C8A-A94F-391F-9336-C9932A64A009}\InprocServer32\3.1.1.0" Name="Class" Value="hoReverse.About" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{44D39C8A-A94F-391F-9336-C9932A64A009}\InprocServer32\3.1.1.0" Name="Assembly" Value="hoReverseRoot, Version=3.1.1.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{44D39C8A-A94F-391F-9336-C9932A64A009}\InprocServer32\3.1.1.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{44D39C8A-A94F-391F-9336-C9932A64A009}\InprocServer32\3.1.1.0" Name="CodeBase" Value="file:///[#filD5BB7448D3EEAC917E5CCA73FA456E06]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{44D39C8A-A94F-391F-9336-C9932A64A009}\InprocServer32" Name="Class" Value="hoReverse.About" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{44D39C8A-A94F-391F-9336-C9932A64A009}\InprocServer32" Name="Assembly" Value="hoReverseRoot, Version=3.1.1.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{44D39C8A-A94F-391F-9336-C9932A64A009}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{44D39C8A-A94F-391F-9336-C9932A64A009}\InprocServer32" Name="CodeBase" Value="file:///[#filD5BB7448D3EEAC917E5CCA73FA456E06]" Type="string" Action="write" />
      </Component>
      <!--
      Name="hoReverseGui.dll" Source="$(var.hoReverseGui.TargetPath)" />
      Update if Assembly, Visual Studio Version changed
      -->
      <Component Id="hoReverseGui.dll" Guid="{5E12F7E2-2718-46FF-95B5-40A77B027CB9}">
        <Class Id="{17FBF51F-769F-313D-9236-054048F3FD40}" Context="InprocServer32" Description="hoReverse.Reverse.EnterTextBox" ThreadingModel="both" ForeignServer="mscoree.dll">
          <ProgId Id="hoReverse.Reverse.EnterTextBox" Description="hoReverse.Reverse.EnterTextBox" />
        </Class>
        <Class Id="{226B3DEA-E240-3CD8-90B4-0381EB438682}" Context="InprocServer32" Description="hoReverse.DataBinding.ImagePathConverter" ThreadingModel="both" ForeignServer="mscoree.dll">
          <ProgId Id="hoReverse.DataBinding.ImagePathConverter" Description="hoReverse.DataBinding.ImagePathConverter" />
        </Class>
        <Class Id="{A6542A36-6923-3A07-B75F-00B3574FBBAF}" Context="InprocServer32" Description="hoReverse.Settings.AddinSettings" ThreadingModel="both" ForeignServer="mscoree.dll">
          <ProgId Id="hoReverse.Settings.AddinSettings" Description="hoReverse.Settings.AddinSettings" />
        </Class>
        <Class Id="{C845E70C-EDC5-4D80-8F78-5F4DBF96C8ED}" Context="InprocServer32" Description="hoReverse.Reverse.HoReverseGui" ThreadingModel="both" ForeignServer="mscoree.dll">
          <ProgId Id="hoReverse.ReverseGui" Description="hoReverse.Reverse.HoReverseGui" />
        </Class>
        <File Id="filE39C4D0BAC748AB2B48DAFEC2017F25E" KeyPath="yes" Name="hoReverseGui.dll" Source="$(var.hoReverseGui.TargetPath)" />
        <RegistryValue Root="HKCR" Key="CLSID\{17FBF51F-769F-313D-9236-054048F3FD40}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{17FBF51F-769F-313D-9236-054048F3FD40}\InprocServer32\3.0.2.0" Name="Class" Value="hoReverse.Reverse.EnterTextBox" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{17FBF51F-769F-313D-9236-054048F3FD40}\InprocServer32\3.0.2.0" Name="Assembly" Value="hoReverseGui, Version=3.0.2.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{17FBF51F-769F-313D-9236-054048F3FD40}\InprocServer32\3.0.2.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{17FBF51F-769F-313D-9236-054048F3FD40}\InprocServer32\3.0.2.0" Name="CodeBase" Value="file:///[#filE39C4D0BAC748AB2B48DAFEC2017F25E]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{17FBF51F-769F-313D-9236-054048F3FD40}\InprocServer32" Name="Class" Value="hoReverse.Reverse.EnterTextBox" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{17FBF51F-769F-313D-9236-054048F3FD40}\InprocServer32" Name="Assembly" Value="hoReverseGui, Version=3.0.2.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{17FBF51F-769F-313D-9236-054048F3FD40}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{17FBF51F-769F-313D-9236-054048F3FD40}\InprocServer32" Name="CodeBase" Value="file:///[#filE39C4D0BAC748AB2B48DAFEC2017F25E]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{226B3DEA-E240-3CD8-90B4-0381EB438682}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{226B3DEA-E240-3CD8-90B4-0381EB438682}\InprocServer32\3.0.2.0" Name="Class" Value="hoReverse.DataBinding.ImagePathConverter" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{226B3DEA-E240-3CD8-90B4-0381EB438682}\InprocServer32\3.0.2.0" Name="Assembly" Value="hoReverseGui, Version=3.0.2.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{226B3DEA-E240-3CD8-90B4-0381EB438682}\InprocServer32\3.0.2.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{226B3DEA-E240-3CD8-90B4-0381EB438682}\InprocServer32\3.0.2.0" Name="CodeBase" Value="file:///[#filE39C4D0BAC748AB2B48DAFEC2017F25E]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{226B3DEA-E240-3CD8-90B4-0381EB438682}\InprocServer32" Name="Class" Value="hoReverse.DataBinding.ImagePathConverter" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{226B3DEA-E240-3CD8-90B4-0381EB438682}\InprocServer32" Name="Assembly" Value="hoReverseGui, Version=3.0.2.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{226B3DEA-E240-3CD8-90B4-0381EB438682}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{226B3DEA-E240-3CD8-90B4-0381EB438682}\InprocServer32" Name="CodeBase" Value="file:///[#filE39C4D0BAC748AB2B48DAFEC2017F25E]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{A6542A36-6923-3A07-B75F-00B3574FBBAF}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{A6542A36-6923-3A07-B75F-00B3574FBBAF}\InprocServer32\3.0.2.0" Name="Class" Value="hoReverse.Settings.AddinSettings" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{A6542A36-6923-3A07-B75F-00B3574FBBAF}\InprocServer32\3.0.2.0" Name="Assembly" Value="hoReverseGui, Version=3.0.2.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{A6542A36-6923-3A07-B75F-00B3574FBBAF}\InprocServer32\3.0.2.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{A6542A36-6923-3A07-B75F-00B3574FBBAF}\InprocServer32\3.0.2.0" Name="CodeBase" Value="file:///[#filE39C4D0BAC748AB2B48DAFEC2017F25E]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{A6542A36-6923-3A07-B75F-00B3574FBBAF}\InprocServer32" Name="Class" Value="hoReverse.Settings.AddinSettings" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{A6542A36-6923-3A07-B75F-00B3574FBBAF}\InprocServer32" Name="Assembly" Value="hoReverseGui, Version=3.0.2.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{A6542A36-6923-3A07-B75F-00B3574FBBAF}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{A6542A36-6923-3A07-B75F-00B3574FBBAF}\InprocServer32" Name="CodeBase" Value="file:///[#filE39C4D0BAC748AB2B48DAFEC2017F25E]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{C845E70C-EDC5-4D80-8F78-5F4DBF96C8ED}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{C845E70C-EDC5-4D80-8F78-5F4DBF96C8ED}\InprocServer32\3.0.2.0" Name="Class" Value="hoReverse.Reverse.HoReverseGui" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{C845E70C-EDC5-4D80-8F78-5F4DBF96C8ED}\InprocServer32\3.0.2.0" Name="Assembly" Value="hoReverseGui, Version=3.0.2.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{C845E70C-EDC5-4D80-8F78-5F4DBF96C8ED}\InprocServer32\3.0.2.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{C845E70C-EDC5-4D80-8F78-5F4DBF96C8ED}\InprocServer32\3.0.2.0" Name="CodeBase" Value="file:///[#filE39C4D0BAC748AB2B48DAFEC2017F25E]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{C845E70C-EDC5-4D80-8F78-5F4DBF96C8ED}\InprocServer32" Name="Class" Value="hoReverse.Reverse.HoReverseGui" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{C845E70C-EDC5-4D80-8F78-5F4DBF96C8ED}\InprocServer32" Name="Assembly" Value="hoReverseGui, Version=3.0.2.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{C845E70C-EDC5-4D80-8F78-5F4DBF96C8ED}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{C845E70C-EDC5-4D80-8F78-5F4DBF96C8ED}\InprocServer32" Name="CodeBase" Value="file:///[#filE39C4D0BAC748AB2B48DAFEC2017F25E]" Type="string" Action="write" />
      </Component>
      <!--
      Name="hoHistoryGui.dll" Source="$(var.hoHistoryGui.TargetPath)" />
      Update if Assembly, Visual Studio Version changed
      -->
      <Component Id="hoHistoryGui.dll" Guid="{183FAF61-979A-447E-B175-DB2A988A3682}">
        <Class Id="{30956223-B7F6-3A65-910E-5D049E9681A3}" Context="InprocServer32" Description="hoReverse.DataBinding.ImagePathConverter" ThreadingModel="both" ForeignServer="mscoree.dll">
          <ProgId Id="hoReverse.DataBinding.ImagePathConverter" Description="hoReverse.DataBinding.ImagePathConverter" />
        </Class>
        <Class Id="{D7ED709D-E9C5-48BC-81E2-05C2A8C3A926}" Context="InprocServer32" Description="hoReverse.History.HistoryGui" ThreadingModel="both" ForeignServer="mscoree.dll">
          <ProgId Id="hoReverse.HistoryGui" Description="hoReverse.History.HistoryGui" />
        </Class>
        <Class Id="{DD87A8BF-0F6C-347A-9C46-9DB1B1607A45}" Context="InprocServer32" Description="hoReverse.History.HistoryActiveXWpf" ThreadingModel="both" ForeignServer="mscoree.dll">
          <ProgId Id="hoReverse.History.HistoryActiveXWpf" Description="hoReverse.History.HistoryActiveXWpf" />
        </Class>
        <File Id="fil02E0194699D3BBAAFAF95B9435C57812" KeyPath="yes" Name="hoHistoryGui.dll" Source="$(var.hoHistoryGui.TargetPath)" />
        <RegistryValue Root="HKCR" Key="CLSID\{30956223-B7F6-3A65-910E-5D049E9681A3}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{30956223-B7F6-3A65-910E-5D049E9681A3}\InprocServer32\2.1.2" Name="Class" Value="hoReverse.DataBinding.ImagePathConverter" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{30956223-B7F6-3A65-910E-5D049E9681A3}\InprocServer32\2.1.2" Name="Assembly" Value="hoHistoryGui, Version=2.1.2, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{30956223-B7F6-3A65-910E-5D049E9681A3}\InprocServer32\2.1.2" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{30956223-B7F6-3A65-910E-5D049E9681A3}\InprocServer32\2.1.2" Name="CodeBase" Value="file:///[#fil02E0194699D3BBAAFAF95B9435C57812]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{30956223-B7F6-3A65-910E-5D049E9681A3}\InprocServer32" Name="Class" Value="hoReverse.DataBinding.ImagePathConverter" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{30956223-B7F6-3A65-910E-5D049E9681A3}\InprocServer32" Name="Assembly" Value="hoHistoryGui, Version=2.1.2, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{30956223-B7F6-3A65-910E-5D049E9681A3}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{30956223-B7F6-3A65-910E-5D049E9681A3}\InprocServer32" Name="CodeBase" Value="file:///[#fil02E0194699D3BBAAFAF95B9435C57812]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{D7ED709D-E9C5-48BC-81E2-05C2A8C3A926}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{D7ED709D-E9C5-48BC-81E2-05C2A8C3A926}\InprocServer32\2.1.2" Name="Class" Value="hoReverse.History.HistoryGui" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{D7ED709D-E9C5-48BC-81E2-05C2A8C3A926}\InprocServer32\2.1.2" Name="Assembly" Value="hoHistoryGui, Version=2.1.2, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{D7ED709D-E9C5-48BC-81E2-05C2A8C3A926}\InprocServer32\2.1.2" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{D7ED709D-E9C5-48BC-81E2-05C2A8C3A926}\InprocServer32\2.1.2" Name="CodeBase" Value="file:///[#fil02E0194699D3BBAAFAF95B9435C57812]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{D7ED709D-E9C5-48BC-81E2-05C2A8C3A926}\InprocServer32" Name="Class" Value="hoReverse.History.HistoryGui" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{D7ED709D-E9C5-48BC-81E2-05C2A8C3A926}\InprocServer32" Name="Assembly" Value="hoHistoryGui, Version=2.1.2, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{D7ED709D-E9C5-48BC-81E2-05C2A8C3A926}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{D7ED709D-E9C5-48BC-81E2-05C2A8C3A926}\InprocServer32" Name="CodeBase" Value="file:///[#fil02E0194699D3BBAAFAF95B9435C57812]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{DD87A8BF-0F6C-347A-9C46-9DB1B1607A45}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{DD87A8BF-0F6C-347A-9C46-9DB1B1607A45}\InprocServer32\2.1.2" Name="Class" Value="hoReverse.History.HistoryActiveXWpf" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{DD87A8BF-0F6C-347A-9C46-9DB1B1607A45}\InprocServer32\2.1.2" Name="Assembly" Value="hoHistoryGui, Version=2.1.2, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{DD87A8BF-0F6C-347A-9C46-9DB1B1607A45}\InprocServer32\2.1.2" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{DD87A8BF-0F6C-347A-9C46-9DB1B1607A45}\InprocServer32\2.1.2" Name="CodeBase" Value="file:///[#fil02E0194699D3BBAAFAF95B9435C57812]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{DD87A8BF-0F6C-347A-9C46-9DB1B1607A45}\InprocServer32" Name="Class" Value="hoReverse.History.HistoryActiveXWpf" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{DD87A8BF-0F6C-347A-9C46-9DB1B1607A45}\InprocServer32" Name="Assembly" Value="hoHistoryGui, Version=2.1.2, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{DD87A8BF-0F6C-347A-9C46-9DB1B1607A45}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{DD87A8BF-0F6C-347A-9C46-9DB1B1607A45}\InprocServer32" Name="CodeBase" Value="file:///[#fil02E0194699D3BBAAFAF95B9435C57812]" Type="string" Action="write" />
      </Component>
       <!-- linq2db                   -->
      <!-- linq2db                   -->
      <!-- Supported databases Access, MySQL, SqlServer, Oracle, Sybase, Postgres (tested: Access, MySQL, SqlServer) -->
      <Component Id="linq2db.dll" Guid="{7F7E0442-6625-451E-841E-E4D304EFBCBA}">
        <File Id="linq2db.dll" KeyPath="yes" Name="linq2db.dll" Source="..\packages\linq2db.2.0.0\lib\net45\linq2db.dll" />
      </Component>
      <!-- Separate install MySql.Data.dll-->
      <Component Id="MySql.Data.dll" Guid="{1D9AF997-5EFF-4F2A-9410-72EAA69473CC}">
        <File Id="MySql.Data.dll" KeyPath="yes" Name="MySql.Data.dll" Source="..\packages\MySql.Data.8.0.11\lib\net452\MySql.Data.dll" />
      </Component>
      <Component Id="Microsoft.SqlServer.Types.dll" Guid="{EABD70B2-374E-4959-AB91-38863D06ABFA}">
        <File Id="Microsoft.SqlServer.Types.dll" KeyPath="yes" Name="Microsoft.SqlServer.Types.dll" Source="..\packages\linq2db.SqlServer.2.0.0\tools\Microsoft.SqlServer.Types.dll" />
      </Component>
      <Component Id="Oracle.ManagedDataAccess.dll" Guid="{1BE3E59F-3CA1-4725-8FB6-086E0DAD8D03}">
        <File Id="Oracle.ManagedDataAccess.dll" KeyPath="yes" Name="Oracle.ManagedDataAccess.dll" Source="..\packages\linq2db.Oracle.x86.1.10.0\tools\Oracle.ManagedDataAccess.dll" />
      </Component>
      <Component Id="Npgsql.dll" Guid="{B63E7AC0-5F42-49A3-8ABD-4B84B8C9160D}">
        <File Id="Npgsql.dll" KeyPath="yes" Name="Npgsql.dll" Source="..\packages\linq2db.PostgreSQL.2.0.0\tools\Npgsql.dll" />
      </Component>
      <Component Id="Sybase.AdoNet2.AseClient.dll" Guid="{A3853976-5D6F-430E-AB0D-D87648B009D3}">
        <File Id="Sybase.AdoNet2.AseClient.dll" KeyPath="yes" Name="Sybase.AdoNet2.AseClient.dll" Source="..\packages\linq2db.Sybase.2.0.0\tools\Sybase.AdoNet45.AseClient.dll" />
      </Component>
      <!--
      <Component Id="sybdrvado20.dll" Guid="{66897A7E-5F3D-41CE-9E3F-F2F36CF4C50D}">
        <File Id="sybdrvado20.dll" KeyPath="yes" Name="sybdrvado20.dll" Source="..\packages\linq2db.Sybase.1.9.0\tools\sybdrvado20.dll" />
      </Component>
      -->
      <Component Id="SQLite.Interop.dll" Guid="{3DFC900E-8BD6-4B50-ACFC-7DF08040ECC2}">
        <File Id="SQLite.Interop.dll" KeyPath="yes" Name="SQLite.Interop.dll" Source="..\packages\System.Data.SQLite.Core.1.0.108.0\build\net46\x86\SQLite.Interop.dll" />
      </Component>
      <Component Id="System.Data.SQLite.dll" Guid="{B161BBE0-0A9C-4570-AE7A-91E10F380ACD}">
        <File Id="System.Data.SQLite.dll" KeyPath="yes" Name="System.Data.SQLite.dll" Source="..\packages\System.Data.SQLite.Core.1.0.108.0\lib\net46\System.Data.SQLite.dll" />
      </Component>

      <!-- Settings.json                                            -->
      <Component Id="UserSearches.json" Guid="{1FD90E6F-33A0-4E68-8E9E-FA919554D3D6}">
        <File Id="UserSearches.json" Name="Settings.json" KeyPath="yes" Source="..\hoReverse_Setup\Settings.json" />
      </Component>
      <Component Id="Newtonsoft.Json" Guid="{8062C079-8ED3-427F-B0AA-6A7BBC159B62}">
        <File Id="Newtonsoft.Json" KeyPath="yes" Name="Newtonsoft.Json.dll"  Source="..\packages\Newtonsoft.Json.11.0.2\lib\net45\Newtonsoft.Json.dll" />
      </Component>
       <!-- Delete all files, in theory WIX/Installer should do this by their one, but it doesn't work 
       Note: This may leads to problems if there are dependencies
       -->
      <Component Id="DeleteFiles" Guid="C4132857-ECC3-4071-B7E8-90788C9A5416">
        <RemoveFile Id="Purge" Name="*.*" On="uninstall" />
      </Component>
      <!--
      Export/Import via *.xml, *.csc, Excel,   
      -->
     <Component Id="KBCsv" Guid="30620E70-7C9D-45E4-BEC8-6A3B8D5107EA">
        <File Id="KBCsv" KeyPath="yes" Name="KBCsv.dll"  Source="..\packages\KBCsv.5.0.0\lib\netstandard1.0\KBCsv.dll" />
      </Component>
      <Component Id="KBCsv.Extensions.Data" Guid="97618C61-D0E0-41B0-8A2D-F82ECC5AF35E">
        <File Id="KBCsv.Extensions.Data" KeyPath="yes" Name="KBCsv.Extensions.Data.dll"  Source="..\packages\KBCsv.Extensions.Data.5.0.0\lib\net45\KBCsv.Extensions.Data.dll" />
      </Component>
      <Component Id="DocumentFormat.OpenXml" Guid="F6FBBA69-A929-413B-A13B-BBDD7851D1F7">
        <File Id="DocumentFormat.OpenXml" KeyPath="yes" Name="DocumentFormat.OpenXml.dll"  Source="..\packages\DocumentFormat.OpenXml.2.8.1\lib\net46\DocumentFormat.OpenXml.dll" />
      </Component>
      <Component Id="ClosedXml" Guid="969900BC-0842-4E36-B550-35AA37682D19">
        <File Id="ClosedXml" KeyPath="yes" Name="ClosedXml.dll"  Source="..\packages\ClosedXML.0.92.1\lib\net46\ClosedXML.dll" />
      </Component>
      
        <!--
        ReqIF 
        -->
      <!-- HtmlAgilityPack -->
      <Component Id="HtmlAgilityPack.dll" Guid="{3783B4A7-6591-4783-AFD5-FB7F4E70A2D5}">
        <File Id="HtmlAgilityPack.dll" KeyPath="yes" Name="HtmlAgilityPack.dll" Source="..\packages\HtmlAgilityPack.1.8.4\lib\Net45\HtmlAgilityPack.dll" />
      </Component>
        
        <Component Id="MariGold.HtmlParser.dll" Guid="1D106D13-50B5-4032-A369-002FEDF13F01">
            <File Id="MariGold.HtmlParser.dll" KeyPath="yes" Name="MariGold.HtmlParser.dll"  Source="..\packages\MariGold.HtmlParser.1.0.1\lib\net35\MariGold.HtmlParser.dll" />
        </Component>
        <Component Id="MariGold.OpenXHTML.dll" Guid="9D3E3286-600E-4CA5-8270-9F20576BE18E">
            <File Id="MariGold.OpenXHTML.dll" KeyPath="yes" Name="MariGold.OpenXHTML.dll"  Source="..\packages\MariGold.OpenXHTML.2.4.0\lib\net40\MariGold.OpenXHTML.dll" />
        </Component>
        <Component Id="ReqIFSharp.dll" Guid="B19B5F34-14FE-4F28-BAE9-A73025277C78">
            <File Id="ReqIFSharp.dll" KeyPath="yes" Name="ReqIFSharp.dll"  Source="..\packages\ReqIFSharp.1.3.2\lib\net45\ReqIFSharp.dll" />
        </Component>

      <Component Id="OpenMcdf.dll" Guid="1ECCD40A-235E-4D5F-AFBA-E326AE8FB826">
        <File Id="OpenMcdf.dll" KeyPath="yes" Name="OpenMcdf.dll"  Source="..\packages\OpenMcdf-2.2.1.1.5\lib\net461\OpenMcdf.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>