<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <DirectoryRef Id="APPLICATIONFOLDER">
            <Component Id="hoReverseGui.dll" Guid="2CE8376E-4A6C-4CA0-ACBB-15A69E19FE73">
                <Class Id="{5BFA072E-BAA6-3761-871C-B41CCC95EDAA}" Context="InprocServer32" Description="hoReverse.Reverse.EnterTextBox" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="hoReverse.Reverse.EnterTextBox" Description="hoReverse.Reverse.EnterTextBox" />
                </Class>
                <Class Id="{76539928-D771-3A10-AB4E-D36D649698C1}" Context="InprocServer32" Description="hoReverse.Settings.AddinSettings" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="hoReverse.Settings.AddinSettings" Description="hoReverse.Settings.AddinSettings" />
                </Class>
                <Class Id="{C845E70C-EDC5-4D80-8F78-5F4DBF96C8ED}" Context="InprocServer32" Description="hoReverse.Reverse.HoReverseGui" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="hoReverse.ReverseGui" Description="hoReverse.Reverse.HoReverseGui" />
                </Class>
                <Class Id="{C94767C3-39EC-3DE6-9D2F-783EE47C430D}" Context="InprocServer32" Description="hoReverse.DataBinding.ImagePathConverter" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="hoReverse.DataBinding.ImagePathConverter" Description="hoReverse.DataBinding.ImagePathConverter" />
                </Class>
                <File Id="hoReverseGui.dll" KeyPath="yes" Source="$(var.hoReverseGui.TargetDir)\hoReverseGui.dll" />
                <RegistryValue Root="HKCR" Key="CLSID\{5BFA072E-BAA6-3761-871C-B41CCC95EDAA}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{5BFA072E-BAA6-3761-871C-B41CCC95EDAA}\InprocServer32\3.22.1.0" Name="Class" Value="hoReverse.Reverse.EnterTextBox" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{5BFA072E-BAA6-3761-871C-B41CCC95EDAA}\InprocServer32\3.22.1.0" Name="Assembly" Value="hoReverseGui, Version=3.22.1.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{5BFA072E-BAA6-3761-871C-B41CCC95EDAA}\InprocServer32\3.22.1.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{5BFA072E-BAA6-3761-871C-B41CCC95EDAA}\InprocServer32\3.22.1.0" Name="CodeBase" Value="file:///[#hoReverseGui.dll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{5BFA072E-BAA6-3761-871C-B41CCC95EDAA}\InprocServer32" Name="Class" Value="hoReverse.Reverse.EnterTextBox" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{5BFA072E-BAA6-3761-871C-B41CCC95EDAA}\InprocServer32" Name="Assembly" Value="hoReverseGui, Version=3.22.1.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{5BFA072E-BAA6-3761-871C-B41CCC95EDAA}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{5BFA072E-BAA6-3761-871C-B41CCC95EDAA}\InprocServer32" Name="CodeBase" Value="file:///[#hoReverseGui.dll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{76539928-D771-3A10-AB4E-D36D649698C1}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{76539928-D771-3A10-AB4E-D36D649698C1}\InprocServer32\3.22.1.0" Name="Class" Value="hoReverse.Settings.AddinSettings" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{76539928-D771-3A10-AB4E-D36D649698C1}\InprocServer32\3.22.1.0" Name="Assembly" Value="hoReverseGui, Version=3.22.1.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{76539928-D771-3A10-AB4E-D36D649698C1}\InprocServer32\3.22.1.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{76539928-D771-3A10-AB4E-D36D649698C1}\InprocServer32\3.22.1.0" Name="CodeBase" Value="file:///[#hoReverseGui.dll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{76539928-D771-3A10-AB4E-D36D649698C1}\InprocServer32" Name="Class" Value="hoReverse.Settings.AddinSettings" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{76539928-D771-3A10-AB4E-D36D649698C1}\InprocServer32" Name="Assembly" Value="hoReverseGui, Version=3.22.1.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{76539928-D771-3A10-AB4E-D36D649698C1}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{76539928-D771-3A10-AB4E-D36D649698C1}\InprocServer32" Name="CodeBase" Value="file:///[#hoReverseGui.dll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C845E70C-EDC5-4D80-8F78-5F4DBF96C8ED}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C845E70C-EDC5-4D80-8F78-5F4DBF96C8ED}\InprocServer32\3.22.1.0" Name="Class" Value="hoReverse.Reverse.HoReverseGui" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C845E70C-EDC5-4D80-8F78-5F4DBF96C8ED}\InprocServer32\3.22.1.0" Name="Assembly" Value="hoReverseGui, Version=3.22.1.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C845E70C-EDC5-4D80-8F78-5F4DBF96C8ED}\InprocServer32\3.22.1.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C845E70C-EDC5-4D80-8F78-5F4DBF96C8ED}\InprocServer32\3.22.1.0" Name="CodeBase" Value="file:///[#hoReverseGui.dll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C845E70C-EDC5-4D80-8F78-5F4DBF96C8ED}\InprocServer32" Name="Class" Value="hoReverse.Reverse.HoReverseGui" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C845E70C-EDC5-4D80-8F78-5F4DBF96C8ED}\InprocServer32" Name="Assembly" Value="hoReverseGui, Version=3.22.1.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C845E70C-EDC5-4D80-8F78-5F4DBF96C8ED}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C845E70C-EDC5-4D80-8F78-5F4DBF96C8ED}\InprocServer32" Name="CodeBase" Value="file:///[#hoReverseGui.dll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C94767C3-39EC-3DE6-9D2F-783EE47C430D}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C94767C3-39EC-3DE6-9D2F-783EE47C430D}\InprocServer32\3.22.1.0" Name="Class" Value="hoReverse.DataBinding.ImagePathConverter" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C94767C3-39EC-3DE6-9D2F-783EE47C430D}\InprocServer32\3.22.1.0" Name="Assembly" Value="hoReverseGui, Version=3.22.1.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C94767C3-39EC-3DE6-9D2F-783EE47C430D}\InprocServer32\3.22.1.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C94767C3-39EC-3DE6-9D2F-783EE47C430D}\InprocServer32\3.22.1.0" Name="CodeBase" Value="file:///[#hoReverseGui.dll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C94767C3-39EC-3DE6-9D2F-783EE47C430D}\InprocServer32" Name="Class" Value="hoReverse.DataBinding.ImagePathConverter" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C94767C3-39EC-3DE6-9D2F-783EE47C430D}\InprocServer32" Name="Assembly" Value="hoReverseGui, Version=3.22.1.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C94767C3-39EC-3DE6-9D2F-783EE47C430D}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C94767C3-39EC-3DE6-9D2F-783EE47C430D}\InprocServer32" Name="CodeBase" Value="file:///[#hoReverseGui.dll]" Type="string" Action="write" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="COM_Dll64Gui">
            <ComponentRef Id="hoReverseGui.dll" />
        </ComponentGroup>
    </Fragment>
</Wix>