<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <DirectoryRef Id="APPLICATIONFOLDER">
            <Component Id="hoHistoryGui.dll" Guid="053CD683-8E79-4FF3-BBB9-C10E97D69063">
                <Class Id="{00D3BAF1-DFAC-3464-A46E-B013515745A6}" Context="InprocServer32" Description="hoReverse.History.HistoryActiveXWpf" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="hoReverse.History.HistoryActiveXWpf" Description="hoReverse.History.HistoryActiveXWpf" />
                </Class>
                <Class Id="{507E9A7C-8B74-4DCB-9C6D-9EBCD4DA8ED1}" Context="InprocServer32" Description="hoReverse.History.HistoryGui" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="hoReverse.HistoryGui" Description="hoReverse.History.HistoryGui" />
                </Class>
                <Class Id="{6A71F61B-9BC7-3E55-BF53-178E31962CFC}" Context="InprocServer32" Description="hoReverse.DataBinding.ImagePathConverter" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="hoReverse.DataBinding.ImagePathConverter" Description="hoReverse.DataBinding.ImagePathConverter" />
                </Class>
                <File Id="hoHistoryGui.dll" KeyPath="yes" Source="$(var.hoHistoryGui.TargetDir)\hoHistoryGui.dll" />
                <RegistryValue Root="HKCR" Key="CLSID\{00D3BAF1-DFAC-3464-A46E-B013515745A6}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{00D3BAF1-DFAC-3464-A46E-B013515745A6}\InprocServer32\2.1.2.0" Name="Class" Value="hoReverse.History.HistoryActiveXWpf" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{00D3BAF1-DFAC-3464-A46E-B013515745A6}\InprocServer32\2.1.2.0" Name="Assembly" Value="hoHistoryGui, Version=2.1.2.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{00D3BAF1-DFAC-3464-A46E-B013515745A6}\InprocServer32\2.1.2.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{00D3BAF1-DFAC-3464-A46E-B013515745A6}\InprocServer32\2.1.2.0" Name="CodeBase" Value="file:///[#hoHistoryGui.dll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{00D3BAF1-DFAC-3464-A46E-B013515745A6}\InprocServer32" Name="Class" Value="hoReverse.History.HistoryActiveXWpf" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{00D3BAF1-DFAC-3464-A46E-B013515745A6}\InprocServer32" Name="Assembly" Value="hoHistoryGui, Version=2.1.2.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{00D3BAF1-DFAC-3464-A46E-B013515745A6}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{00D3BAF1-DFAC-3464-A46E-B013515745A6}\InprocServer32" Name="CodeBase" Value="file:///[#hoHistoryGui.dll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{507E9A7C-8B74-4DCB-9C6D-9EBCD4DA8ED1}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{507E9A7C-8B74-4DCB-9C6D-9EBCD4DA8ED1}\InprocServer32\2.1.2.0" Name="Class" Value="hoReverse.History.HistoryGui" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{507E9A7C-8B74-4DCB-9C6D-9EBCD4DA8ED1}\InprocServer32\2.1.2.0" Name="Assembly" Value="hoHistoryGui, Version=2.1.2.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{507E9A7C-8B74-4DCB-9C6D-9EBCD4DA8ED1}\InprocServer32\2.1.2.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{507E9A7C-8B74-4DCB-9C6D-9EBCD4DA8ED1}\InprocServer32\2.1.2.0" Name="CodeBase" Value="file:///[#hoHistoryGui.dll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{507E9A7C-8B74-4DCB-9C6D-9EBCD4DA8ED1}\InprocServer32" Name="Class" Value="hoReverse.History.HistoryGui" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{507E9A7C-8B74-4DCB-9C6D-9EBCD4DA8ED1}\InprocServer32" Name="Assembly" Value="hoHistoryGui, Version=2.1.2.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{507E9A7C-8B74-4DCB-9C6D-9EBCD4DA8ED1}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{507E9A7C-8B74-4DCB-9C6D-9EBCD4DA8ED1}\InprocServer32" Name="CodeBase" Value="file:///[#hoHistoryGui.dll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{6A71F61B-9BC7-3E55-BF53-178E31962CFC}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{6A71F61B-9BC7-3E55-BF53-178E31962CFC}\InprocServer32\2.1.2.0" Name="Class" Value="hoReverse.DataBinding.ImagePathConverter" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{6A71F61B-9BC7-3E55-BF53-178E31962CFC}\InprocServer32\2.1.2.0" Name="Assembly" Value="hoHistoryGui, Version=2.1.2.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{6A71F61B-9BC7-3E55-BF53-178E31962CFC}\InprocServer32\2.1.2.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{6A71F61B-9BC7-3E55-BF53-178E31962CFC}\InprocServer32\2.1.2.0" Name="CodeBase" Value="file:///[#hoHistoryGui.dll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{6A71F61B-9BC7-3E55-BF53-178E31962CFC}\InprocServer32" Name="Class" Value="hoReverse.DataBinding.ImagePathConverter" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{6A71F61B-9BC7-3E55-BF53-178E31962CFC}\InprocServer32" Name="Assembly" Value="hoHistoryGui, Version=2.1.2.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{6A71F61B-9BC7-3E55-BF53-178E31962CFC}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{6A71F61B-9BC7-3E55-BF53-178E31962CFC}\InprocServer32" Name="CodeBase" Value="file:///[#hoHistoryGui.dll]" Type="string" Action="write" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="COM_Dll64HistoryGui">
            <ComponentRef Id="hoHistoryGui.dll" />
        </ComponentGroup>
    </Fragment>
</Wix>