<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment><Property Id="ApplicationFolderName" Value="hoMaintenance" />
    <Property Id="WixAppFolder" Value="WixPerMachineFolder" />    
	
        <StandardDirectory Id="ProgramFilesFolder">
            <Directory Id="APPLICATIONFOLDER" Name="hoMaintenance">
            </Directory>
        </StandardDirectory>
      </Fragment>
  
  
</Wix>