<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
 <!-- New release:
      1. Update ProductVersion (Major.Minor.Build. )
      2. Product ID is handled by WIX
      3. Update File-Version of *.DLL File but not Assembly-Version in Properties, AssemblyInfo.cs
         A new Assembly Version requires a new DLL-Registration
 -->
  <?define ProductVersion="1.0.10.0" ?> <!-- Update also AssembleInfo.cs (only FileVersion!!!!!) -->
  <?define UpgradeCode="E169A9F3-F47C-4878-9052-3427944CD676" ?>
  <?define Manufacturer="ho" ?>
  <?define ProductName="hoMaintenance" ?>

  <Package Name="$(var.ProductName)" Language="1033" Version="$(var.ProductVersion)" Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.UpgradeCode)" InstallerVersion="200">
    <SummaryInformation Description="Windows installer for hoMaintenance $(var.ProductVersion)" Keywords="Installer, MSI, Database" />

    <!--InstallPrivileges="elevated"-->

    <Media Id="1" Cabinet="Contents.cab" EmbedCab="yes" CompressionLevel="medium" />



    <Upgrade Id="$(var.UpgradeCode)">
      <UpgradeVersion Minimum="$(var.ProductVersion)" IncludeMinimum="no" OnlyDetect="yes" Language="1033" Property="NEWPRODUCTFOUND" />
      <UpgradeVersion Minimum="1.0.0.0" IncludeMinimum="yes" Maximum="$(var.ProductVersion)" IncludeMaximum="no" Language="1033" Property="UPGRADEFOUND" />
    </Upgrade>


    <Feature Id="Complete" Description="$(var.ProductName)" Title="$(var.ProductName)" Level="1" Display="expand" ConfigurableDirectory="APPLICATIONFOLDER">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
    <!--
     UI: 
    
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
    -->
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
    <ui:WixUI Id="WixUI_Advanced" />
    <UIRef Id="WixUI_ErrorProgressText" />

    <!-- Prevent downgrading -->
    <CustomAction Id="PreventDowngrading" Error="Newer version already installed." />
    <!-- Sequences -->
    <InstallExecuteSequence>
      <Custom Action="PreventDowngrading" After="FindRelatedProducts" Condition="NEWPRODUCTFOUND" />
      <RemoveExistingProducts After="InstallFinalize" />
    </InstallExecuteSequence>

    <InstallUISequence>
      <Custom Action="PreventDowngrading" After="FindRelatedProducts" Condition="NEWPRODUCTFOUND" />
    </InstallUISequence>

  </Package>

</Wix>